#landing_jumbotron
    background url("../i/jumbotron-bg.jpg") no-repeat center center

    p.button
        text-align center

.btn-xl
    padding 18px 28px
    font-size 22px
    border-radius 8px

#features
    .icon
        text-align center
        font-size 50px
        margin-bottom 0

    h3
        margin-top 0
        text-align center
