#landing_jumbotron
    overflow hidden
    widt

.slideshow
    width 99999px
    transition margin-left .5s ease-in

.slideshow > div
    float left

.slideshow > div:last-child
    margin-left 60px

.slideshow.slided
    margin-left -1240px