html
    head
        include ./includes/head.jade 

    body
        include ./includes/navbar.jade
        
        #about_us
            .container
                .row
                    h1.col-md-12 El equipo detrás de BigSales
                .row
                    p.col-md-12.text-center
                        img.img-responsive.img-thumbnail(src="static/i/about-us.JPG")

        include ./includes/scripts.jade
