doctype html
html
    head
        include ./includes/head.jade

    body
        include ./includes/navbar.jade

        section#dashboard
            .container
                h1 Predicciones
                
                .row
                    each prediction, i in predictions
                        .col-md-3
                            .cell-wrapper
                                h3 #{prediction.name}
                                .cell-content
                                    if prediction.status == "pending"
                                        p.text-info.
                                            La predicción aún está siendo procesada.
                                        p.text-info.
                                            Espera un momento y vuelve a <a href="/dashboard">recargar
                                            la página</a> para revisar si la predicción
                                            está lista.
                                        
                                    else if prediction.status == "done"
                                        p.text-success.
                                            La predicción ha sido procesada.
                                        p.text-success
                                            a.btn.btn-success(href="/prediccion/#{prediction.id}", role="button").
                                                Ver resultados
                                            

                    .col-md-3
                        .cell-wrapper
                            .cell-content.
                                Haz click <a href="/prediccion/crear">aquí</a> para crear una predicción.

        include ./includes/scripts.jade
