doctype html
html
    head
        include ./includes/head.jade

    body
        include ./includes/navbar.jade

        section#dashboard
            .container
                h1 Bodega
                
                .row
                    each product, i in products
                        .col-md-3
                            .cell-wrapper
                                h3 #{product.name}
                                .cell-content
                                    p.text-info
                                        a.btn.btn-success(href="/producto/#{product.id}", role="button").
                                            Ver detalles

                    .col-md-3
                        .cell-wrapper
                            .cell-content.
                                Haz click <a href="/producto/crear">aquí</a> para agregar un producto a bodega.

        
        include ./includes/footer.jade
        include ./includes/scripts.jade
