doctype html
html
    head
        include ./includes/head.jade

    body
        include ./includes/navbar.jade

        section#landing_jumbotron.jumbotron
            div.container
                .row
                    h1.col-md-12 BigSales
                .row
                    h2.col-md-12 Comience a optimizar su negocio <strong>ahora</strong>.
                .row
                    p.col-md-6.
                        Con nuestro servicio predictor de demandas, las liquidaciones
                        de grandes cantidades de stock son parte del pasado. Nunca más
                        pierda dinero por un mal manejo del inventario. BigSales le permite
                        predecir mediante modelos matemáticos las demandas que su negocio
                        tendrá en el futuro.
                .row
                    p.col-md-6.button
                        a.btn.btn-default.btn-xl(role="button", href="/signup").
                           Iniciar Ahora

        section#features
            div.container
                .row
                    .col-md-4
                        p.icon
                            i.fa.fa-line-chart.fa-4x
                        h3 Conozca sus futuras demandas
                        p.
                            Usamos un modelo de predicción que se ajusta a los datos
                            de sus ventas, permitiendo saber cuales serán sus demandas
                            del futuro. 

                    .col-md-4
                        p.icon
                            i.fa.fa-cogs.fa-4x
                        h3 Obtenga análisis de su empresa 
                        p.
                            Luego de generar la predicción de sus futuras demandas,
                            le entregaremos un análisis detallado del comportamiento
                            de su mercado para que usted siempre tome decisiones óptimas.

                    .col-md-4
                        p.icon
                            i.fa.fa-life-ring.fa-4x
                        h3 Servicio de ayuda 24/7
                        p.
                            Tiene a su disposición un equipo multidisciplinario de
                            Ingenieros dispuestos a ayudarlo y orientarlo. Obtenga
                            ayuda las 24 horas del día, los 7 días de la semana para
                            sacarle el máximo a BigSales.

                .row
                    .col-md-4
                        p.icon
                            i.fa.fa-briefcase.fa-4x
                        h3 Reportes directos y digeribles 
                        p.
                            BigSales le entregará reportes con información útil para
                            el proceso de toma de decisiones. Gráficos y tablas
                            detalladas le permitirán digerir la información de
                            forma intuitiva.

                    .col-md-4
                        p.icon
                            i.fa.fa-cloud.fa-4x
                        h3 Sus datos disponibles en la nube
                        p.
                            Debido a que funcionamos en la nube, BigSales le permite 
                            tomar decisiones en el escritorio de su oficina o directamente
                            en terreno.

                    .col-md-4
                        p.icon
                            i.fa.fa-usd.fa-4x
                        h3 Optimice sus ganancias y stock 
                        p.
                            Nunca más pierda dinero por productos que dejo de vender
                            por un mal manejo de stock. BigSales le permite saber 
                            cuanto y cuando comprar productos.
                            
            include ./includes/scripts.jade
