doctype html
html
    head
        include ./includes/head.jade

    body
        include ./includes/navbar.jade

        section#landing_jumbotron.jumbotron
            div.container
                .row
                    h1.col-md-12 BigSales
                .row
                    h2.col-md-12 Comience a optimizar su negocio <strong>ahora</strong>.
                .row
                    p.col-md-6.
                        Con nuestro servicio predictor de demandas, las liquidaciones
                        de grandes cantidades de stock son parte del pasado. Nunca más
                        pierda dinero por un mal manejo del inventario. BigSales le permite
                        predecir mediante modelos matemáticos las demandas que su negocio
                        tendrá en el futuro.
                .row
                    p.col-md-6.button
                        a.btn.btn-default.btn-xl(role="button", href="/signup").
                            Iniciar Prueba Gratis

        section#features
            div.container
                .row
                    .col-md-4
                        p.icon
                            span.glyphicon.glyphicon-shopping-cart(aria-hidden="true")
                        h3 Planifique sus compras
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis itaque modi praesentium nesciunt, cumque quis laudantium commodi nemo quasi minima blanditiis! Iusto quod animi vitae, veritatis recusandae magnam quae tempore.
                    .col-md-4
                        p.icon
                            span.glyphicon.glyphicon-usd(aria-hidden="true")
                        h3 Nunca pierda dinero por problemas de stock
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae totam nesciunt, perspiciatis iusto eaque ullam. Libero quod dicta laudantium, nam tempora officiis magni est porro saepe pariatur corrupti. Quia, corporis.
                    .col-md-4
                        p.icon
                            span.glyphicon.glyphicon-credit-card(aria-hidden="true")
                        h3 20 millones en el bolsillo
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat vel pariatur atque, voluptate labore quam cumque aliquam! Vitae repellendus accusamus odio, nobis, cum quas, optio alias voluptas dolorem vero, doloremque?
                .row
                    .col-md-4
                        p.icon
                            span.glyphicon.glyphicon-thumbs-up(aria-hidden="true")
                        h3 La mejor pagina del mundo
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quam dolorem praesentium deserunt neque est itaque eaque sint ad recusandae mollitia eligendi nemo, beatae veniam unde sunt dolores, eius soluta.
                    .col-md-4
                        p.icon
                            span.glyphicon.glyphicon-ok-sign(aria-hidden="true")
                        h3 Startup Chile aquí vamos
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste in eum autem minus laborum veniam, sapiente, excepturi voluptatibus totam quasi dignissimos quisquam similique, dolore explicabo quidem nostrum ullam, magnam quam.
                    .col-md-4
                        p.icon
                            span.glyphicon.glyphicon-globe(aria-hidden="true")
                        h3 El próximo semestre se congela señores
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam incidunt sed quibusdam, necessitatibus quasi officia. Amet, corporis labore officiis itaque deserunt tempora facere asperiores unde vero, praesentium quaerat, soluta dolor.

            include ./includes/scripts.jade
