doctype html
html
    head
        include ./includes/head.jade

    body
        include ./includes/navbar.jade

        section
            .container
                .row
                    h1.col-md-6.col-md-offset-3 Gracias, #{name}.
                .row
                    h2.col-md-6.col-md-offset-3.
                        Te contactaremos a la brevedad para que empieces a usar nuestro servicio.
                .row
                    h3.col-md-6.col-md-offset-3.
                        Volver al <a href="/">inicio</a>.

        include ./includes/scripts.jade