doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title BigSales - Predictive Model For Stock Management

        link(rel="stylesheet", href="static/css/bootstrap.min.css")
        link(rel="stylesheet", href="static/css/main.css")

    body
        nav.navbar.navbar-default.navbar-static-top
            div.container
                .navbar-header
                    button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") BigSales

                .collapse.navbar-collapse#navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/") Inicio
                        li
                            a(href="/about-us") Quiénes Somos

                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="/signup") Registrarse
                        li
                            a(href="/login") Ingresar

        section
            .container
                .row
                    h1.col-md-6.col-md-offset-3 Gracias, #{name}.
                .row
                    h2.col-md-6.col-md-offset-3.
                        Te contactaremos a la brevedad para que empieces a usar nuestro servicio.
                .row
                    h3.col-md-6.col-md-offset-3.
                        Volver al <a href="/">inicio</a>.

        script(src="https://code.jquery.com/jquery-2.1.4.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
        script(src="https://fb.me/react-0.13.2.js")
        //script(src="static/js/main.js")