nav.navbar.navbar-default.navbar-static-top
    div.container
        .navbar-header
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") BigSales

        .collapse.navbar-collapse#navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href="/") Inicio
                li.divider
                li
                    a(href="/about-us") Quiénes Somos

            ul.nav.navbar-nav.navbar-right
                if user
                    li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown", role="button") #{user.name} <span class="caret"></span>
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="/dashboard") Dashboard
                            li.divider
                            li
                                a(href="/logout") Salir
                else
                    li
                        a(href="/signup") Registrarse
                    li
                        a(href="/login") Ingresar