script(src="https://code.jquery.com/jquery-2.1.4.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
script(src="https://fb.me/react-0.13.2.js")
//script(src="static/js/main.js")